# Read config from environment
MICROSOFT_CLIENT_ID=...
MICROSOFT_CLIENT_SECRET=...
MICROSOFT_TENANT_ID=...
MICROSOFT_SESSION_SECRET_KEY=...

# sql connection strings
DB_DRIVER = "ODBC Driver 17 for SQL Server"
DB_HOST = ...
DB_USER = ...
DB_PASSWORD = ...
DB_NAME =...


#UI_frontend_url=http://localhost:4200
UI_FRONTEND_URL=...
API=...

AUTH_SECRET_KEY="Any random text will do here"
AUTH_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# To remove the logs in console 
ENVIRONMENT = PRODUCTION

# log files 
LOG_DIR = ...
LOG_RETENTION_DAYS = 5

# upload files save location
CONCEPT_FILES_DIR= ...


