<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
 
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- Increase max upload size to 100 MB -->
        <!-- <requestLimits maxAllowedContentLength="104857600" /> -->
        <!-- Increase max upload size to 200 MB -->
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
 
    <httpPlatform processPath="C:\apps\concept-tracking-CICD\api\venv\Scripts\python.exe" arguments="-m uvicorn main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="C:\apps\concept-tracking-CICD\api\iislogs\fastapi.log" startupTimeLimit="120" startupRetryCount="3">
 
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\CONCEPT-TRACKING\concept-tracking-api" />
        <environmentVariable name="PATH" value="C:\apps\concept-tracking-CICD\api\venv\Scripts;%PATH%" />
      </environmentVariables>
 
    </httpPlatform>
    
     
  </system.webServer>
</configuration>
C:\apps\concept-tracking-CICD\api